body {
    font-family: Arial, sans-serif;
    background-color: #f2f1f9;
    margin: 0;
    padding: 0;
    
    background: linear-gradient(rgba(37, 5, 5, 0.5),rgba(26, 11, 11, 0.5)),url(/static/css/music.jpeg.jpeg);
    max-width: 100%;
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100% ;
    
     
}

form {
    margin: auto;
    width: 400px;
    padding: 20px;
    background-color: rgb(244, 94, 179);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height:  100x;
}

table {
    width: 100%;
}

td {
    padding: 10px 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="Submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

input[type="Submit"]:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 400px) {
    form {
        width: 80%;
    }
}
