<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home</title>
    <link rel="stylesheet"  href="/static/css/homepage.css">


   
</head>
<body>
    <header>
        <nav>
            <h1>DASHBOARD</h1>
            <button
            class="btn fw-bold"
            style="font-size: 15px; background-color: royalblue; color: white"
          >
            <a href="/" style="text-decoration: none; color: white">Logout</a>
          </button>
        </nav>
    </header>
    <main>
        <section class="welcome">
            <h2>Welcome, User!</h2>
            <p>This is your personalized home page.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 User Home. All rights reserved.</p>
        <button
        class="btn fw-bold"
        style="font-size: 28px; background-color: royalblue; color: white"
      >
        <a href="/" style="text-decoration: none; color: white">Logout</a>
      </button>
    </footer>
</body>
</html>
